<div class="topBar" id="topBar">
    <div class="brand">
        <div class="logo">
            <img src="./assets/icon.png"> 
        </div>
        <div class="separator">
        </div>

        <div class="note">
            Annuaire des Ambassades & services rattachés
        </div>
    </div>

    <div class="rightSide">
        <div class="socials">
            <div class="s-i fbk">
                <a href=" https://web.facebook.com/embassy225" target="_blank"><i class="fab fa-facebook-square"></i></a>
            </div>
            <div class="s-i ytb">
                <a href="https://www.linkedin.com/company/69298999/admin/" target="_blank"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>

        <!-- <div class="account">
            <div class="item">Connexion</div>
            <div class="item">Inscription</div>
        </div> -->

        <!-- <div class="search">
            <input type="search" placeholder="Rechercher" class="form-control">
            <div class="search-btn">
                <i class="fas fa-search"></i>
            </div>

            
        </div>

        <div class="searchResult">
                
        </div> -->
    </div>
</div>