<div class="askVisa">
    <div class="header">
        <div class="icon">
            ?
        </div>

        <div class="text">
            demande de visa
        </div>
    </div>

    <form action="">

        <div class="list">
            <div class="input">
                <mat-form-field class="fullwidth" appearance="fill">
                    <mat-label>Nom et prénoms</mat-label>
                    <input [formControl]="name" matInput>
                    <mat-error>Champs requis</mat-error>
                </mat-form-field>
            </div>

            <div class="input">
                <mat-form-field class="fullwidth" appearance="fill">
                    <mat-label>Résidence</mat-label>
                    <input [formControl]="address" matInput>
                    <mat-error>Champs requis</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="list">
            <div class="input">
                <mat-form-field class="fullwidth" appearance="fill">
                    <mat-label>Contacts</mat-label>
                    <input [formControl]="phone" matInput>
                    <mat-error>Champs requis</mat-error>
                </mat-form-field>
            </div>

            <div class="input">
                <mat-form-field class="fullwidth" class="fullwidth" appearance="fill">
                    <mat-label>Choix du pays</mat-label>
                    <mat-select
                    [formControl]="country"
                    >
                    <mat-option value = "choix 1">choix 1</mat-option>
                    <mat-option value = "choix 2">choix 2</mat-option>
                    </mat-select>
                    <mat-error>Champs requis</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="list">
            <div class="input">
                <mat-form-field class="fullwidth" appearance="fill">
                    <mat-label>Profession</mat-label>
                    <input [formControl]="djob" matInput>
                    <mat-error>Champs requis</mat-error>
                </mat-form-field>
            </div>

            <div class="input">
                <mat-form-field class="fullwidth" class="fullwidth" appearance="fill">
                    <mat-label>Type de visa</mat-label>
                    <mat-select
                    [formControl]="type"
                    >
                    <mat-option value = "choix 1">choix 1</mat-option>
                    <mat-option value = "choix 2">choix 2</mat-option>
                    </mat-select>
                    <mat-error>Champs requis</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="list">
            <div class="input">
                <mat-form-field class="fullwidth" appearance="fill">
                    <mat-label>E-mail</mat-label>
                    <input [formControl]="email" matInput>
                    <mat-error>Champs requis</mat-error>
                </mat-form-field>
            </div>

            <div class="">
                <button mat-flat-button color = "primary" type="button" (click) = "ask ()">Envoyer</button>
            </div>
        </div>
    </form>
</div>